.app__cover {
  width: 100%;
  height: calc(100vh - 110px);
  background-image: url(https://cdn.shopify.com/s/files/1/0001/5211/files/PK-D-Home-ATF-BFCM_1_1920x.jpg?v=1669340755);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__cover_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  /* background-color: black; */
}

.app__cover_ p {
  font-size: 1.7rem;
  font-weight: 700;
  color: #dfcccb;
}

.app__cover_ h1 {
  font-size: 8rem;
  color: #fefeff;
  text-align: center;
  /* background-color: #000000; */
  height: 250px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.app__cover_ h3 {
  color: #c5b3b2;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.app__cover__but {
  width: 120px;
  height: 50px;
  background-color: #fefeff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app__cover__but p {
  color: #000000;
}

@media screen and (max-width: 1000px) {
  .app__cover_ h1 {
    font-size: 6rem;
    margin-bottom: -60px;
  }
  .app__cover_ {
    width: 500px;
  }
  .app__cover_ h3 {
    color: #e2cecd;
  }
}
@media screen and (max-width: 400px) {
}

@media screen and (max-width: 400px) {
  .app__cover_ h1 {
    font-size: 5rem;
    margin-bottom: -120px;
  }
  .app__cover_ {
    width: 500px;
  }
}
